<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshippingcarrier>
                <active>1</active>
                <title>Custom Shipping Title</title>
                <name>Custom Shipping Carrier Method</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>SMG\CustomShippingCarrier\Model\Carrier\Customshipping</model>
            </customshippingcarrier>
        </carriers>
    </default>
</config>
