<?xml version="1.0"?>

<!--
/**
 * @package   Born_Checkout
 * @author    Born Support <support@borngroup.com>
 * @copyright 2019-2020 Borngroup. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Born_OrderExtensionAttributesAPI" setup_version="2.2.2">
        <sequence>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
