<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Add Menu on top Manu -->
        <add id="SMG_News::news" 
            title="SMG News" 
            translate="title" 
            module="SMG_News" 
            resource="SMG_News::manage"
            sortOrder="90" />

        <!-- Add sub-menu item  -->
        <add id="SMG_News::manager" 
            title="News Manager" translate="title" sortOrder="10"
            module="SMG_News" 
            resource="SMG_News::manage"
            parent="SMG_News::news"
            action="news/news/index" />
    </menu>
</config>
