<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Stackexchange_CustomAPI::main" title="Best_Seller_Product_API" sortOrder="999">
                    <resource id="Stackexchange_CustomAPI::list" title="Best Seller Product List" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>