<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
    <payment>
        <offlinepay>
            <active>1</active>
            <model>SMG\OfflinePaymentMethod\Model\OfflinePay</model>
            <order_status>pending</order_status>
            <title>Offline Pay</title>
            <allowspecific>0</allowspecific>
            <group>offline</group>
        </offlinepay>
        </payment>
    </default>
</config>